.dub
.vs
docs.json
__dummy.html
docs/
/nijiexpose
nijiexpose.so
nijiexpose.dylib
nijiexpose.dll
nijiexpose.a
nijiexpose.lib
nijiexpose-test-*
*.exe
*.o
*.obj
*.lst
*.inp
out/

dub.selections.json
source/nijiexpose/ver.d
build-aux/windows/nijiexpose.res
version.txt